<h1>Omniscient password reset</h1>

<p>Hi @user.name,</p>

<p>
Welcome to the Omniscient! Use the link below to activate your account:
</p>

<%= link_to 'reset', password_reset_url(token: @password_reset.get_token) %>