<div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
	<div class="error"  <%= 'hidden="hidden"' unless @user.password_confirmation_empty %> id="password-empty">
		Password confirmation should not be empty.</div>	
	<div class="error" <%= 'hidden="hidden"' unless @user.password_confirmation_not_match %> id="password-confirmation-not-match" >
		Passwords do not match.</div> 
</div>