	<div class="field">
	    <%= f.label :password %>
		<%= f.password_field :password %>
		<div class="error"  <%= 'hidden="hidden"' unless @user.password_empty %> id="password-empty">
			Password should not be empty.</div>	
		<% unless for_new %> 
			<div class="error" <%= 'hidden="hidden"' unless @user.password_invalid %> id="password-invalid">
				Invalid password, or wrong username.</div>
		<% end %>
	</div>