<% msg = "User successfully edited."  if @isEdit %>
<% msg = "User successfully created."  if @isCreate %>

<%= link_to '<h3>Success</h3><small>redirecting</small>.'.html_safe,  user_path(@user, :msg => msg ), id:"redirect-to-user" %>