<% provide(:title, "Sign Up") %>
<input type="text" style="display: none;" hidden="hidden" name="publickey" id="publickey" value="<%= @publickey %>"/>

<div id="signUpResponse">
	<%= render 'form' %>
</div>

<script type="text/javascript">
	var rsa = forge.pki.rsa;	
	var pkeyInput = document.getElementById("publickey");
    var responseDiv = document.getElementById("signUpResponse");
    var publicKey = forge.pki.publicKeyFromPem(pkeyInput.value);


    function test() {
    	var signUpButton = document.getElementById("signUpButton");
    	var saltInput = document.getElementById("salt");
    	var nameInput = document.getElementById("username");
		var passInput = document.getElementById("password");
    	

    	var md = forge.md.sha512.create();
    	md.update(passInput.value + '|' + nameInput.value);
    	var hashed = md.digest().toHex();

    	//hashed = passInput.value + '|' + nameInput.value
		var encrypted = forge.util.bytesToHex(publicKey.encrypt(hashed + '|' + saltInput.value));
    	encryptsignup(encrypted);
    }


</script>