<p id="notice" class="error"><%= notice %></p>
<% provide(:title, "#{@user.name}") %>
<div calss="user_show">
<%= render 'user' %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
