/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0px;
    padding: 0px;
    background-color: #eeeee7;
    height:100%;
    color: #000033;

}
body {
    padding: 0px 2%;
}


#main {
    box-sizing: border-box;
    padding: 80px 0px;
    margin: -80px auto;

    min-height: 100%;
    height: auto;

    max-width: 45em; 
    font-size: 1.1em;
}

#header{
    display: block;
    box-sizing: border-box;
    min-height: 80px;
    line-height: 80px; 

    min-width: 100%;
    padding: 0px 3%;
     margin: 0px -2%;
    overflow: auto;

    background-color: #ddddd6;
}

footer {  
    box-sizing: border-box;
    min-height: 80px; 
    line-height: 80px;
 
    min-width: 100%;
    padding: 0px 3%;
     margin: 0px -2%;
    overflow: auto;

    background-color: #ddddd6;
    text-align: center;
}


.top_nav {
    box-sizing: border-box;
    line-height: 1.2em;
    display: inline;
    float: right;
    margin-top: 40px;
}

h1 {
    margin: 0px;
    height: 100%;
    font-size: 2.25em;
    text-transform: uppercase;
    letter-spacing: -1px;
    float:left;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1em;
    border-bottom: 2px solid #999999;
}


a {    
    text-decoration: none;
}

nav {    
    text-align: center;
}

.btn {
    font-size: 1.25em;
}

a {
    display: inline-block;
}

a.btn {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
    padding: 0.5em 1em;
    margin: 0.5em 0.5em;
    border-radius: 1.125em;
    border: 1px solid #563d7c;
}
a.btn:hover {
    color: #efefe0;
    background-color: #563d7c;
}
a.btn:active {
    color: #fffff0;
    background-color: #563d00;
}

a.sign:hover {
    text-decoration: underline;
}

a img {
    vertical-align: middle;
}

