$side-padding: 2%;
$footer-height: 80px;
$background-mane: #eeeee7;

html, body {
    margin: 0px;
    padding: 0px;
    background-color: $background-mane;
    height:100%;
    color: #000033;
}



#main {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px auto;    

    max-width: 45em; 
    font-size: 1.1em;
}

#header{
    display: block;
    box-sizing: border-box;

    min-width: 100%;
    padding: 1em 3%;
    margin: 0px;
    margin-left: -$side-padding;
    margin-right: -$side-padding;
    overflow: auto;

    background-color: #ddddd6;
}

#footer-pusher-workaround {
    box-sizing: border-box;
    min-height: 100%;
    height: auto;
    padding: 0px $side-padding;
    padding-bottom: $footer-height;
    margin-top: 0px;
    margin-bottom: -$footer-height; 
}

footer {  
    box-sizing: border-box;
    min-height: $footer-height; 
    line-height: $footer-height;
 
    min-width: 100%;
    padding: 0px 3%;
    margin: 0px;
    overflow: auto;

    background-color: #ddddd6;
    text-align: center;
}


.top_nav {
    box-sizing: border-box;
    display: inline;
    float: right;
    margin-top: 1.21em;
}

h1 {
    margin: 0px;
    height: 100%;
    font-size: 2.25em;
    text-transform: uppercase;
    letter-spacing: -1px;
    float: left;
}


h2 {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 1.5% 0px;
    border-bottom: 2px solid #999999;
}

nav {    
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    img {
         vertical-align: middle;
    }
    &.sign:hover {
        text-decoration: underline;
    }
}


$btncolor: #563d7c;
a.btn {
    font-size: 1.25em;
    color: $btncolor;
    background-color: transparent;
    border-color: $btncolor;
    padding: 0.5em 1em;
    margin: 0.5em 0.5em;
    border-radius: 1.125em;
    border: 1px solid $btncolor;
    &:hover {
        color: #efefe0;
        background-color: $btncolor;
    }
    &:active {
        color: #fffff0;
        background-color: #563d00;
    }
}


