  <header class="hat" id="header">
    <h1><%= link_to APPNAME, '/' %></h1>
    <nav class="top_nav">
        <%= link_to "Sign up", '#', class: "sign" %> | <%= link_to "Log in", '#', class: "sign" %>
    </nav>
  </header>